# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg

# Virtual environments
.venv/
venv/
env/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Data and model artifacts
*.pth
*.h5
data/
datasets/
outputs/
saved_models/
logs/
metrics/

# Images
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff

# uv
uv.lock
